.modal-header {
    -fx-background-color: #ed8592;
    -fx-padding: 10px 20px;
    -fx-alignment: center;

}

.modal-title {
    -fx-font-family: "Pedagogique Bold";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.modal-list-view {
    -fx-background-color: #f9f9f9;
}

.modal-list-view .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-font-family: "Pedagogique Medium", sans-serif;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #eee;
}

.modal-list-view .list-cell:hover {
    -fx-background-color: #f0f0f0;
}

.modal-list-view .list-cell:focused, .modal-list-view .list-cell:selected {
    -fx-background-color: #cf7782;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

