.root {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-background-color: #f4f4f9;
    -fx-padding: 20px;
}

.background-container {
    -fx-background-image: url('/images/BackgroundCurrencyConverter.png');
    -fx-background-size: cover;
    -fx-padding: 20;
}

.logo {
    -fx-alignment: center;
    -fx-margin: 10;
}

.label {
    -fx-font-family: 'Pedagogique Medium', sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-pref-width: 200px;
}

.combo-box:hover {
    -fx-border-color: #ff6b9e;
}

.combo-box .combo-box-popup {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 7px 7px 7px 15px;
    -fx-font-size: 14px;
    -fx-pref-width: 200px;
}

.text-field:focused {
    -fx-border-color: #ff6b9e;
}

.history-button,
.button-convert,
.button-copy {
    -fx-background-color: #ed8592;
    -fx-font-family: 'Vividly', sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-radius: 25px;
    -fx-border-width: 0;
    -fx-cursor: hand;
}

.history-button:hover,
.button-convert:hover,
.button-copy:hover {
    -fx-background-color: #cf7782;
}

.history-button:pressed,
.button-convert:pressed,
.button-copy:pressed {
    -fx-background-color: #ae5762;
}

.label-result {
    -fx-font-family: 'Pedagogique Medium', sans-serif;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #ed8592;
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-text-alignment: center;
}
